*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100%;
    height: 100vh;
    background-image: linear-gradient( #58D0F0, #57D6E9, #56DCDF, #57E0D8) ;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container{
    width:400px;
    height: 100px;
    background-color: #FFFFFF;
    border:1px solid rgb(107, 207, 247);
    border-radius: 10px;
    padding: 16px;
    font-size: 20px;
}

.box{
    border: 2px solid skyblue;
    border-radius: 5px;
    padding: 20px;
    color:#8B98AF;
    display:flex;
    justify-content:flex-start;
    align-items: baseline;
    gap: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.input{
    width:250px;
    border: none;
    outline: none;
    align-content: center;
}

::placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.focusInput::placeholder{
    color:skyblue;

}

.border-right{
    width: 3px;
    height: 18px ;
    background-color: #8B98AF;
    align-content: center;
}





